:root {
    /*Background*/
    --background-main: #343a40;
    --charcoal: #333333;          /* Charcoal */
    --onyx: #353839;              /* Onyx */
    --ebony: #555D50;             /* Ebony */
    --jet: #343434;               /* Jet */
    --midnight: #191970;          /* Midnight */
    --dark-slate-gray: #2F4F4F;   /* Dark slate gray */

    /*Gold*/
    --gold-main: #ffc107;
    --gold-color-1: goldenrod; /* Goldenrod Gold */
    --gold-color-2: #FFD700;   /* Sunshine Gold */
    --gold-color-3: #FFDF00;   /* Honey Gold */
    --gold-color-4: #E6B96E;   /* Champagne Gold */
    --gold-color-5: #B8860B;   /* Antique Gold */
    --gold-color-6: #B76E79;   /* Rose Gold */
}

/*html {
    font-size: 16px; 
}

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}*/

body {
    background-color: var(--background-main);
}

