.par {
    width:90%; 
    font-size:1.2rem; 
    margin-left:auto; 
    margin-right:auto; 
    margin-bottom:2rem; 
    text-align:justify;
}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) {
    .par {
        width:90%; 
        font-size:1rem; 
        margin-left:auto; 
        margin-right:auto; 
        margin-bottom:2rem; 
        text-align:justify;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .par {
        width:70%; 
        font-size:1rem; 
        margin-left:auto; 
        margin-right:auto; 
        margin-bottom:2rem; 
        text-align:justify;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .par {
        width:70%; 
        font-size:1rem; 
        margin-left:auto; 
        margin-right:auto; 
        margin-bottom:2rem; 
        text-align:justify;
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .par {
        width:60%; 
        font-size:1rem; 
        margin-left:auto; 
        margin-right:auto; 
        margin-bottom:2rem; 
        text-align:justify;
    }
  }
  
  /* XXL devices (larger desktops, 1400px and up) */
  @media (min-width: 1400px) {
    .par {
        width:60%; 
        font-size:1rem; 
        margin-left:auto; 
        margin-right:auto; 
        margin-bottom:2rem; 
        text-align:justify;
    }
  }
  