

.container-app {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    padding-top:10px;
    color: #f1f1f1;
}

.form-group-app {
    margin-bottom: 15px;
}

div.holder label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

div.holder input, 
div.holder textarea, 
div.holder select {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

div.holder input::placeholder, 
div.holder textarea::placeholder {
    color: #bbb;
}

div.holder button {
    width: 100%;
    padding: 10px;
    background-color: #555;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

div.holder button:hover {
    background-color: #777;
}

@media (max-width: 600px) {
    .container-app {
        padding: 10px;
    }

    div.holder input, 
    div.holder textarea {
        font-size: 14px;
    }

    div.holder form {
        padding-left: 15px;
        padding-right: 15px;
    }

    div.holder button {
        font-size: 14px;
    }
}
